@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #0e1224;
    --main-color: #3e99ce;
    --text-color: black;
    --second-color: #5f5b5b;
    --white-color: #fff;
    --cover-cover: linear-gradient(45deg, #3e99ce, #3e99ce);
    --pages-color: linear-gradient(90deg, #f3f3f3, #f3f3f3);
    --border: 0.125rem solid #3e99ce;
    --box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
    overflow: hidden;
    cursor: url('cursor.png'), auto; /* Custom cursor image */
}

/* Custom Cursor Styles */
body {
    cursor: none; /* Hide the default cursor */
}

/* Custom cursor element */
.cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: #ffd000; /* Cursor color */
    border-radius: 50%;
    pointer-events: none;
    transition: all 0.2s ease; /* Transition for smooth effects */
    transform: translate(-50%, -50%);
    z-index: 9999;
}



/* Hover effects for links or other elements */
a:hover, button:hover, .btn:hover {
    cursor: url('cursor.png'), auto; /* Change to custom cursor on hover */
    transition: transform 0.3s ease; /* Smooth transition effect */
}

/* Add a scale transition when hovering over interactive elements */
a:hover .cursor, button:hover .cursor {
    transform: scale(1.5); /* Increase cursor size on hover */
    background-color: #2e7aad; /* Change cursor color on hover */
}


.wrapper {
    position: relative;
    width: 66rem;
    height: 45rem;
    padding: 2rem;
    perspective: 250rem;
    animation: show-animate 2s forwards;
}

/* Shooting star effect */
@keyframes shootStar {
    0% {
      transform: translateY(0) translateX(0) rotate(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100vh) translateX(100vw) rotate(720deg);
      opacity: 0;
    }
  }
  
  .shooting-star {
    position: fixed;
    top: -10px;
    left: -10px;
    width: 7px;
    height: 7px;
    background: linear-gradient(45deg, white, lightblue);
    border-radius: 50%;
    animation: shootStar 2s forwards;
    z-index: 9999;
  }
  



@keyframes show-animate {
    0%,30% {
        transform: rotate(-20deg);
        opacity: 0;
    }
    100% {
        transform: rotate(0deg);
        opacity: 1;
    }
}

.cover {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: var(--cover-cover);
    box-shadow: var(--box-shadow);
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    transform-origin: right;
}

.cover.cover-left {
    z-index: -1;
}

.cover.cover-right {
    z-index: 100;
    transition: transform 1s cubic-bezier(.645, .045, .355, 1);

}

.cover.cover-right.turn {
    transform: rotateY(180deg);
}

.book {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    perspective: 250rem;
    position: relative;
    z-index: 10;
}




body::after {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('stars.png'); /* transparent sparkles or stars PNG */
    background-repeat: repeat;
    animation: drift 60s linear infinite;
    pointer-events: none;
    z-index: -998;
  }
  
@keyframes drift {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100px 200px;
    }
}

.trail {
    position: fixed;
    width: 6px;
    height: 6px;
    background: rgb(255, 190, 11);
    border-radius: 50%;
    pointer-events: none;
    opacity: 0.6;
    box-shadow: 0 0 8px #a0d8ff;
    animation: fadeOut 1s forwards;
  }
  
  @keyframes fadeOut {
    to {
      opacity: 0;
      transform: scale(8);
    }
  }
  
.profile-page .name {
    white-space: nowrap;
    font-size: 2.7rem;
    line-height: 1;
}

.book .book-page {
    position: absolute;
    width: 50%;
    height: 100%;
    background: var(--pages-color);
    box-shadow: 0 0 0.6rem 0 rgba(56, 20, 114, 0.1);
    display: flex;
    padding: 2rem;
}

.book-page.page-left {
    box-shadow: -.6rem .6rem .6rem  rgba(56, 20, 114, 0.1);
}

.profile-page {
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-page img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 0.25rem solid var(--main-color);
    margin: 0.8rem;
}

.profile-page h1 {
    font-size: 2.7rem;
    line-height: 1;
}

.profile-page h3 {
    font-size: 1.5rem;
    color: var(--main-color);
}

.profile-page .social-media {
    margin: .6rem 0 .8rem;
}

.profile-page .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: var(--border);
    border-radius: 50%;
    font-size: 1.3rem;
    color: var(--main-color);
    margin: 0 .2rem;
    transition: .5s;
}

.profile-page .social-media a:hover {
    background: var(--main-color);
    color: var(--white-color);
}

.profile-page p {
    text-align: justify;
}

.profile-page btn.box {
    margin-top: 1.2rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 2.5rem;
    background: var(--main-color);
    border: var(--border);
    border-radius: 0.3rem;
    font-size: 0.9rem;
    color: var(--white-color);
    font-weight: 500;
    text-align: center;
    transition: .5s;
}

.btn-box {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.2rem;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
    background: var(--main-color);
    color: var(--white-color);
}

.book-page.page-right {
    position: absolute;
    right: 0;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: transform 1s cubic-bezier(.645, .045, .355, 1);
}

.book-page.page-right.turn {
    transform: rotateY(-180deg);
}

.book-page .page-front,
.book-page .page-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--pages-color);
    padding: 1.5rem 2rem;
}

.book-page .page-front {
    transform: rotateY(0deg) translateZ(1px);
}

.book-page .page-back {
    transform: rotateY(180deg) translateZ(1px);
}

.ttitle {
    text-align: center;
    margin-bottom: 1rem;
}

.workedu-box {
    border-left: var(--border);
}

.workedu-box .workedu-content {
    position: relative;
    padding-left: 1.6rem;
    margin-bottom: 1.2rem;
}

.workedu-box .workedu-content::before {
    content: '';
    position: absolute;
    left: -0.65rem;
    top: 0;
    width: 1.2rem;
    height: 1.2rem;
    background: var(--main-color);
    border-radius: 50%;
}

.workedu-content .year {
    color: var(--main-color);
}

.workedu-content .year i {
    margin-right: .4rem;
}

h1 {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.number-page {
    position: absolute;
    bottom: 1.2rem;
    left: 50%;
    transform: translateX(-50%);
}

.nextprev-btn {
    position: absolute;
    bottom: .9rem;
    right: 1.5rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    font-size: 2 rem;
    color: var(--second-text-color);
    display: infinite-flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.nextprev-btn:hover {
    color: var(--main-color);
}

.nextprev-btn.back {
    left: 1.5rem;
}

.services-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 1rem 0.5rem 2rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--main-color);
    text-align: center;
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);
    transition: .5s ease;
  }
  

.services-box .services-content {
    flex: 1 1 10rem;
    border: var(--border);
    border-radius: .5rem;
    padding: .8rem .5rem 1.1rem;
    text-align: cneter;
}

.skill-box {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.skill-box .skill-content {
    flex: 1 1 20rem;
}

.skills-content h3 {
    font-size: 1.3rem;
    line-height: 1;
    margin-bottom: .6rem;
}

.skills-content .content {
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
}

.skills-content .content span {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 5rem;
    border: var(--border);
    border-radius: .3rem;
    font-weight: 600;
    transition: .3s ease;
}

.skills-content .content span:hover {
    box-shadow: var(--box-shadow);
}

.skills-content .content span i {
    font-size: 3rem;
    color: var(--main-color);
}

.portfolio-box .img-box {
    display: fkex;
    width: 100%;
    height: 15rem;
    border: var(--border);
    border-radius: .5rem;
}

.portfolio-box .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s ease;
}

.portfolio-box .img-box :hover img {
    transform: scale(1.1);
}

.portfolio-box .info-box {
    margin: 1rem 0 1.5rem;
}

.portfolio-box .info-box .info-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.portfolio-box .info-box .info-title h3 {
    font-size: 1.3rem;
}

.portfolio-box .info-box .info-title a {
    display: flex;
    align-items: centre;
    color: var(--main-color);
}

.portfolio-box .info-box .info-title a i {
    margin-left: .3rem;
}

.portfolio-box .info-box p:nth-of-type(1) {
    font-weight: 600;
}

.portfolio-box .btn-box {
    display: flex;
    justify-content: center;
}

.portfolio-box .btn-box .btn {
    margin: 0 1.15rem;
}

.contact-box {
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-box .field {
    width: 100%;
    background: transparent;
    border: var(--border);
    border-radius: .3rem;
    padding: 0.8rem;
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 1.5rem;
}

.contact-box .field::placeholder {
    color: var(--main-color);
}

.contact-box textarea {
    resize: none;
    height: 15rem;
}

.contact-box .btn {
    cursor: pointer;
    margin: 0 auto;
}

.back.profile {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: var(--main-color);
    color: white;
    padding: 10px 15px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.back.profile i {
    font-size: 1.3rem;
}

.back.profile:hover {
    background: #2e7aad;
}











